<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    <script defer src='/scripts/script.js'></script>
    
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>Node Voltage Calculator</h1>
            <h2>By Judy Essam *★,°*:.☆(￣▽￣)/$:*.°★* 。</h2>
        </div>


        <div class="answer">
            <!-- <div>
                <span class="node-ans">The Number of Nodes are <%- nodes %></span>
            </div> -->
            <h1>The calculated volts are: </h1>
           <ul>
            <% for(var i=0; i<answer.length; i++) {%>
                <li>
                    <span>V =</span>
                   
                    <%= answer[i] %>
                
                </li>
                <% } %>
           </ul>

            <h1></h1>    
        </div>
     



    </div>
    <script defer src='/scripts/script.js'></script>
</body>
</html>